---
import TextReveal from '@/components/TextReveal.astro'
---

<section
  data-contact
  class="bg-dark-blue text-steel-blue py-40 lg:py-52 xl:py-60 px-8"
>
  <div class="flex flex-col gap-8 max-w-2xl mx-auto">
    <div class="flex flex-col gap-4">
      <h2 class="text-white text-3xl lg:text-4xl 2xl:text-5xl font-semibold">
        Bize Ulaşın
      </h2>

      <p class="text-lg">Yeni projeler ve fikirler için iletişime geçin.</p>
    </div>

    <a
      class="hover:text-white transition-colors duration-300 text-xl font-medium"
      href="mailto:taciyalcin@gmail.com"
      title="E-posta ile ulaşın"
    >
      taciyalcin@gmail.com
    </a>
  </div>
</section>

<script>
  import { DOMLoaded } from '../ts/events'
  import { fadeIn } from '../ts/animations'

  DOMLoaded(() => {
    const trigger = document.querySelector('[data-contact]') as HTMLElement
    const target = trigger.querySelector(':scope > div') as HTMLElement

    fadeIn(trigger, target)
  })
</script>
